<div class="row mt-5">
  <h6 class="display-4">Ajout d'un Bien</h6>
</div>
<hr>
<div class="row">
  <div class="col-sm-5" style="border-right: 1px solid black;">
    <p class="pr-5">Lorem ipsum dolor, sit amet c
      onsectetur adipisicing elit. Dicta, sint consequuntur
      repudiandae incidunt earum dignissimos ab
      corporis temporibus, nisi natus fuga. Laudantium deserunt
      pariatur ipsam dolor, fugiat, nam in iusto eos necessitatibus
      architecto officia voluptates. Voluptate alias consequuntur
      doloribus repellendus! Accusamus ducimus officiis nesciunt
      minima in ea quas earum quidem corporis fuga error dolorem culpa.</p>
    <hr>
    <p class="pr-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, id!
    </p>
    <p class="pr-5">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit,
      modi hic! Quia, doloremque vitae, sint amet alias illo provident
      ea itaque quis accusantium quidem cupiditate nostrum maxime aliquid
      velit recusandae neque dignissimos ullam sequi aperiam possimus molestiae
      maiores hic. Modi, voluptatem nulla! Labore sint necessitatibus sed
      eveniet eos similique error quis dolor, dignissimos ducimus ipsum est
      iusto voluptatum unde veniam.
    </p>
  </div>
  <div class="col">
    <form class="p-5" [formGroup]="bienForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="libelle">Titre</label>
        <input type="text"
               class="form-control"
               id="libelle"
               placeholder="Entrer le libellé du bien"
              [formControlName]="'title'">
        <small class="blockquote-footer">50 caractères max</small>
        <!-- <small *ngIf="!bienForm.get('title').valid && bienForm.get('title').touched"
               class="text-danger">Sil vous plait entrer un titre valide</small>-->
      </div>
      <div class="form-group">
        <label for="libelle">Prix</label>
        <input type="number"
               class="form-control"
               id="prix"
               placeholder="Entrer le Prix du bien"
               [formControlName]="'price'">
      </div>
      <div class="form-group">
        <label >Déscription</label>
        <small class="blockquote-footer">500 caractères max</small>
        <textarea class="form-control"
                  id="description"
                  rows="5"
                  placeholder="Un text descriptif du bien"
                  [formControlName]="'description'"></textarea>
      </div>


      <div class="form-group">
        <label for="categorie">Catégorie</label>
        <select class="form-control" id="categorie" [formControlName]="'categorie'">
          <option></option>
          <option>Véhicule</option>
          <option>Informatique</option>
          <option>Bureau</option>
          <option>Immobilier</option>
          <option>Autres</option>
        </select>
      </div>

      <div class="form-group">

      <div class="row">
        <div class="col-sm-12">
          <label for="exampleInputFile">Image Url</label>
        <input type="text"
               class="form-control"
               id="exampleInputFile"
               aria-describedby="fileHelp"
               placeholder="coller l'Url de l'image ici"
               [formControlName]="'image'"></div>
          </div>
        <div class="col"><button  type="button"(click)="onAddSecImage()" class="btn btn-outline-success">+</button></div>
        <div [formArrayName]="'imageSecondaire'">
        <div *ngFor="let secImage of getImagesSecControls(); let i=index" class="form-control mt-2">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <small id="fileHelp" class="blockquote-footer">
          Veillez choisir une image représenter fidèlement votre bien.</small>
      </div>
</div>
      <div class="form-check" *ngFor="let option of options">
        <label class="form-check-label">
          <input type="radio"
                 name="sale"
                 class="form-check-input"
                 id="optionsRadios1"
                 [value]="option"
                 checked=""
          [formControlName]="'sale'">
          {{option}}
        </label>
      </div>

      <hr>
      <button  [disabled]="!bienForm.valid" type="submit" class="btn btn-primary float-right">Ajouter</button>
    </form>
  </div>
</div>


















