<!--<h1>hello {{nom}}</h1>
<h1 [innerText]= "1+1==2?'Zoumana': 'fatou'"></h1>
<button (click)="onclick()"
[innerText]="ok==false? 'Activer le champ': 'Desactiver'" ></button>
<br><br>
<button class="btn btn-success" (click)="onclick()">{{textbtn}}</button>
<label>
  <input [(ngModel)]="nom" [disabled]="ok" type="text" placeholder  ="Entrer votre nom">
</label> -->


<app-header></app-header>
<app-jumbotron></app-jumbotron>


<div class="container">
  <router-outlet></router-outlet>
  <!--  <app-list-bien></app-list-bien>-->
   <!-- <app-detail-bien></app-detail-bien>-->
</div>

<app-footer></app-footer>
